
/* 

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;600;700&display=swap');

 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Outfit', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Voltaire', Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

@media screen and (min-width: 768px) {
/* This styles the background of the scrollbar */
::-webkit-scrollbar {
  width: 0.5rem; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

/* This styles the draggable scrolling handle */
::-webkit-scrollbar-thumb {
  background: #FFA500; /* scrollbar handle color */
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #CC7722; /* scrollbar handle color on hover */
}

}